/**
 * Site header
 */
.site-header {
    border-top: 5px solid $green-color;
    background: $green-color;
    border-bottom: 5px solid $green-color-dark;
    min-height: 56px;

    @include media-query($on-laptop) {
      border-bottom: 0px;
      padding-top: 5px;
    }
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-family: $title-font-family;
    font-size: $title-font-size;
    line-height: 0.8em;
    letter-spacing: -1px;
    margin: 10px  0 40px;
    float: left;
    color: $header-text-color;

    &,
    &:visited {
        color: $header-text-color;
    }

    @include media-query($on-laptop) {
      float: none;
      margin: 20px 0;
      text-align: center;
      font-size: $title-font-size * 0.8;
    }

    @include media-query($on-palm) {
      font-size: $title-font-size * 0.75;
    }
}

h1 {
  @include media-query($on-laptop) {
    text-align: center;
  }
}

.nav__item {
  font-style: normal;
}

.nav__item--current {
  font-weight: 900;
}

.site-nav {
    font-size: $header-font-size;
    text-align: center;
    padding: 10px 0;
    float: right;

    .menu-icon {
        display: none;
    }

    ul {
      list-style: none;
      margin-top: 14px;
      padding: 0;
    }

    li {
      display: inline-block;
      padding: 0 10px;
    }

    a {

      &:visited {
        color: $header-text-color;
      }

      &:hover {
      color: $green-selected-color;
      }
    }

    .page-link {
        color: $header-text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-laptop) {
      font-size: $header-font-size * 0.85;
      background: $green-color-dark;
      width: 100%;
      padding: 0;

      ul {
        margin: 5px 0;
      }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.social-icon {
  img {
    width: 20px;
    height: 20px;
    margin: 0 3px 3px -3px;
  }
}



/* 
 * Grow Hover Effect
 */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-family: $title-font-family;
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
      font-size: 30px;
    }

    @include media-query($on-palm) {
      font-size: 26px;
    }
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 34px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
      font-size: 30px;
      text-align: left;
    }

    @include media-query($on-palm) {
      font-size: 28px;
      text-align: center;
    }
}

.post-meta {
  @include media-query($on-palm) {
    text-align: center;
  }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 22px;

        @include media-query($on-laptop) {
            font-size: 20px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
